@charset "utf-8";
/*-------------------mainsubject1---------------------*/
#subject_1{
    display:grid;
    grid-template-columns:1fr 1fr;  
    position:relative;
    padding:10rem 0;
}
#subject_1::after{
    content:"";
    width:100%;
    height:100%;
    background-color:#fff;
    opacity:0.5;
    position:absolute;
    z-index:-20;
}
#subject_01left img{
    position:relative;
    width:59rem;
    height:56rem;
    z-index:10;
}
.simpleleft{
    position:absolute;
    width:20rem;
    height:20rem;
    background-color:#877962;
    border-radius:0% 3% 100% 3%;
    top:10rem;
}
.simpleright{
    position:absolute;
    width:35rem;
    height:28rem;
    background-color:#D3C0A1;
    border-radius:100% 3% 0% 3%;
    left:28rem;
    bottom:10rem;
}
#subjtct_01right{
    position:relative;
    margin:auto 0;
    padding-right:5rem;
}
#subjtct_01right h2{
    font-size:6.4rem;
    font-weight:bold;
    line-height:10rem;
}
.sjright1{
    position:relative;
    display:inline-block;
    width:20rem;
    height:8rem;
    margin-left:1rem;
}
.sjright2{
    position:relative;
    display:inline-block;
    width:20rem;
    height:8rem;
    margin-right:2rem;
}
#sj1reight_end{
    vertical-align:top;
}

