@charset "utf-8";
/*--------------------header--------------*/
header {
    margin-top:8rem;
    display:grid;
    grid-template-columns:1fr 3fr 1fr;
}
header #logo img{
    width:70%;
}
header nav{
    margin:auto 21rem;
}
header ul li{
    display:inline-block;
    text-align:center;
    font-size:2rem;
    margin-left:6rem;        
}
header ul li a{
    text-decoration:none;
    color:black;
}
#registerbox{
    text-align:right;
}

