@charset "utf-8";
/*------------------get----------------*/
    #get{
        display:grid;
        grid-template-columns:1fr 1fr;
    }
    #get img{
        width:95%;
        margin:10rem auto;
    }

